<p>Dear {{ user.username }},</p>
<p>Welcome to <b>FlaskLoginManagement</b>!</p>
<p>To confirm your account please <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
<p>Sincerely,</p>
<p>The FlaskLoginManagement Support Team</p>
<p><small>If you did not sign up or request for email confirmation, please ignore this email.</small></p>
<hr>
<p>PLEASE check your junk/spam folder before contacting us, as it is very common to have email delivery problems because of automated filters.</p>
