{% extends "base.html" %}

{%  block title %}Flaskr - Page Not Found{% endblock %}

{% block page_content %}

<header class="intro-header"
        style="background-image: url('{{ url_for('static', filename='img/404-bg.jpg') }}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading" id="tag-heading">
					<h1>404</h1>
					<span class="subheading">You came to the wilderness without knowledge :(</span>
				</div>
			</div>
		</div>
	</div>
</header>

<script>
	document.body.classList.add('page-fullscreen');
</script>

{% endblock %}
